name: Run MATLAB Build on GitHub-Hosted Runner 
on: 
  push:
    branches: [main]
env:
  MLM_LICENSE_TOKEN: ${{ secrets.LICTOKEN }}
  # SonarQube connection details
  #SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

jobs:
  check_test:
    name: Run MATLAB Build & Test
    strategy:
      matrix:
        os: [ubuntu-latest]    
        release: [latest-including-prerelease]
        
    runs-on: ${{ matrix.os }}
    #runs-on: self-hosted
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: MATLAB      
          cache: true
          release: ${{ matrix.release }}
      
      - name: Run script
        uses: matlab-actions/run-command@v2
        with:
          command: TestRunner2
          
      # - name: Run build to check code and run unit tests
      #   uses: matlab-actions/run-build@v2
      #   with:
      #     tasks: check test coverage

      # - name: Run MATLAB Tests and Generate Coverage
      #   uses: matlab-actions/run-tests@v2
      #   with:
      #     source-folder: source
      #     # Output location for JUnit-style test results
      #     test-results-junit: test-results/results.xml
      #     # Output location for Cobertura coverage report
      #     code-coverage-cobertura: code-coverage/coverage.xml
      
      # - name: Upload Test Results Artifact
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: matlab-test-results
      #     path: test-results/results.xml

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: matlab-coverage-report
          path: code-coverage/coverage.xml

      - name: Upload Cobertura Coverage Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: matlab-cobertura-coverage-report
          path: coverageReport.xml

      - name: Debug Coverage File
        run: cat code-coverage/coverage.xml

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverageReport.xml    
